<?xml version="1.0"?>
<configuration>

  <configSections>

    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RegScoreCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="RegScoreCalc.Properties.Settings.Test_dataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Data\Test_data.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="RegScoreCalc.Properties.Settings.trainTemplateConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Resources\trainTemplate.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
    <add name="RegScoreCalc.Properties.Settings.Test_data_BillingConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Test_data_Billing.mdb" providerName="System.Data.OleDb"/>
    <add name="RegScoreCalc.Properties.Settings.Test_data_BillingConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Data\Test_data_Billing.mdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFileTransferService" maxReceivedMessageSize="2147483647" maxBufferSize="65536" transferMode="Streamed" openTimeout="12:00:00" sendTimeout="12:00:00" receiveTimeout="12:00:00" messageEncoding="Mtom"/>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ISVMService"/>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7281/SVMServiceUploadFile/mex" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileTransferService" contract="UploadFileToServer.IFileTransferService" name="BasicHttpBinding_IFileTransferService"/>
      <endpoint address="http://localhost:7281/SVMServiceProcess" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISVMService" contract="SVMProcessDBService.ISVMService" name="WSDualHttpBinding_ISVMService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <userSettings>
    <RegScoreCalc.Properties.Settings>
      <setting name="ProcessName" serializeAs="String">
        <value/>
      </setting>
      <setting name="XMLSchemaTemplate" serializeAs="String">
        <value>&lt;xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;xs:element name="DocumentElement"&gt;
    &lt;xs:complexType&gt;
      &lt;xs:sequence&gt;
        &lt;xs:element name="Documents" maxOccurs="unbounded" minOccurs="0"&gt;
          &lt;xs:complexType&gt;
            &lt;xs:sequence&gt;
              &lt;xs:element name="ED_ENC_NUM" type="xs:double" /&gt;
                &lt;xs:element name="NOTE_TEXT" minOccurs="0"&gt;
                  &lt;xs:simpleType&gt;
                    &lt;xs:restriction base="xs:string"&gt;
                      &lt;xs:maxLength value="536870910" /&gt;
                    &lt;/xs:restriction&gt;
                  &lt;/xs:simpleType&gt;
                &lt;/xs:element&gt;
              &lt;xs:element type="xs:string" name="Category"/&gt;
              &lt;xs:element type="xs:int" name="Score"/&gt;
              &lt;!-- ADD HERE DYNAMIC --&gt;
            &lt;/xs:sequence&gt;
          &lt;/xs:complexType&gt;
        &lt;/xs:element&gt;
      &lt;/xs:sequence&gt;
    &lt;/xs:complexType&gt;
  &lt;/xs:element&gt;
&lt;/xs:schema&gt;</value>
      </setting>
      <setting name="FormRegExpEditorShowExamples" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FormRegExpEditorShowQuickActions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FormRegExpEditorToolboxPaneWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormRegExpEditorExamplesPaneHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormAutoAssignCattegoryScoreCondition" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormAutoAssignCattegoryScoreValue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormEditLookaround_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormEditLookaround_Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormEditLookaround_SplitterDistance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormSelectCategory_Location" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="FormSelectCategory_Size" serializeAs="String">
        <value>-1, -1</value>
      </setting>
    </RegScoreCalc.Properties.Settings>
  </userSettings>
</configuration>
