<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Binary Classification OLD</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="index.css">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="bootstrap.js"></script>
</head>

<body>

	<div id="idOptionsView" class="container panel panel-body">

		<div>

			<div class="row row-centered">

				<form class="form-horizontal">

					<div class="col-centered col-lg-5 col-md-5 col-sm-5 col-xs-5">

						<div class="panel panel-info">

							<div class="clearfix panel-heading">
								<h3 id="idNegativeTitle" style="display: inline-block">Negative Categories</h3>
								<input id="idNegativeColor" type="color" value="#ff0000" onclick="OnSelectColor(event);" class="clearfix pull-right" style="height: 32px; margin-top: 7px" />
							</div>

							<div class="panel-body">
								<select id="idNegative" class="form-control" size="7"></select>
							</div>

						</div>

					</div>

					<div class="col-centered col-lg-2 col-md-2 col-sm-2 col-xs-2">

						<div class="btn-toolbar">

							<button id="idPositiveToNegative" type="button" class="btn btn-default">
								<img src="arrow-left.png" alt="Move to Negative" />
							</button>
							<button id="idNegativeToPositive" type="button" class="btn btn-default">
								<img src="arrow-right.png" alt="Move to Positive" />
							</button>

						</div>

					</div>

					<div class="col-centered col-lg-5 col-md-5 col-sm-5 col-xs-5">

						<div class="panel panel-info">

							<div class="clearfix panel-heading">
								<h3 id="idPositiveTitle" style="display: inline-block">Positive Categories</h3>
								<input id="idPositiveColor" type="color" value="#00ff00" onclick="OnSelectColor(event);" class="clearfix pull-right" style="height: 32px; margin-top: 7px" />
							</div>

							<div class="panel-body">
								<select id="idPositive" class="form-control" size="7"></select>
							</div>

						</div>

					</div>

					<div class="col-centered col-s-2 col-xs-1" style="margin-bottom: 15px">
					</div>

					<div class="col-centered col-s-4 col-xs-5" style="margin-bottom: 15px">

						<div class="btn-toolbar">

							<button id="idExcludedToNegative" type="button" class="btn btn-default">
								<img src="arrow-up.png" alt="Move to Negative" />
							</button>
							<button id="idNegativeToExcluded" type="button" class="btn btn-default">
								<img src="arrow-down.png" alt="Move to Excluded" />
							</button>

						</div>

					</div>

					<div class="col-centered col-s-4 col-xs-5" style="margin-bottom: 15px">

						<div class="btn-toolbar">

							<button id="idPositiveToExcluded" type="button" class="btn btn-default">
								<img src="arrow-down.png" alt="Move to Excluded" />
							</button>
							<button id="idExcludedToPositive" type="button" class="btn btn-default">
								<img src="arrow-up.png" alt="Move to Negative" />
							</button>

						</div>

					</div>

					<div class="col-centered col-s-2 col-xs-1" style="margin-bottom: 15px">
					</div>

					<div class="col-centered col-lg-5 col-md-5 col-sm-5 col-xs-5">

						<div class="panel panel-info">

							<div class="clearfix panel-heading">
								<h3 id="idExcludedTitle" style="display: inline-block">Excluded Categories</h3>
								<input id="idExcludedColor" type="color" value="#ffff00" onclick="OnSelectColor(event);" class="clearfix pull-right" style="height: 32px; margin-top: 7px" />
							</div>

							<div class="panel-body">
								<select id="idExcluded" class="form-control" size="7"></select>
							</div>

						</div>

					</div>

				</form>

			</div>

			<div class="row row-centered text-info">

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

					<form class="align-left">

						<hr />

						<div class="form-group">
							<input name="Operation" type="radio" id="idDivideCategories" checked="checked" />
							<label for="idDivideCategories">Divide the categorized data into derivation and test</label>

							<div class="form-group">

								<div class="control-group-offset">

									<label for="idValidationPercentage" class="control-label no-bold">Validation</label>
									<select id="idValidationPercentage" class="form-control">
										<option value="10">10%</option>
										<option value="20">20%</option>
										<option value="30">30%</option>
										<option value="40">40%</option>
										<option value="50">50%</option>
										<option value="60">60%</option>
										<option value="70">70%</option>
										<option value="80">80%</option>
										<option value="90">90%</option>
									</select>

								</div>

								<div class="control-group-offset">

									<label for="idDerivationPercentage" class="control-label no-bold">Derivation</label>
									<select id="idDerivationPercentage" class="form-control">
										<option value="10">10%</option>
										<option value="20">20%</option>
										<option value="30">30%</option>
										<option value="40">40%</option>
										<option value="50">50%</option>
										<option value="60">60%</option>
										<option value="70">70%</option>
										<option value="80">80%</option>
										<option value="90">90%</option>
									</select>

								</div>

							</div>

						</div>

						<div class="form-group">
							<input name="Operation" type="radio" id="idScoreAll" />
							<label for="idScoreAll">Score All</label>
						</div>

						<div class="form-group">
							<input name="Operation" type="radio" id="idScoreUncategorized" />
							<label for="idScoreUncategorized">Score Uncategorized</label>
						</div>

						<hr />

						<div class="row row-centered">

							<div class="col-centered">

								<div class="form-group">

									<label for="idFolder" class="control-label">Output folder:</label>
									<input id="idFolder" type="text" style="width: 300px" />
									<input type="button" value="Select..." onclick="SelectFolder();" />

								</div>

								<div class="form-group">

									<input type="checkbox" id="idLeaveIntermediateFiles" />
									<label for="idLeaveIntermediateFiles">Leave intermediate files</label>

								</div>

								<div class="form-group">

									<input type="button" value="Start" onclick="StartML();" style="width: 100px; font-weight: bold" />

								</div>

							</div>

						</div>

					</form>

				</div>

			</div>

		</div>

	</div>

	<div id="idProgressView" class="container fullheight panel panel-body" style="display: none">

		<div class="row row-centered" style="height: 100%">

			<div class="panel panel-info" style="margin: 0 15px 15px 15px; height: 100%">

				<div class="panel-heading">

					<img id="idLoading" src="loading.gif" alt="Processing..." style="display: none; margin-top: -11px; margin-right: 10px" />
					<h3 style="display: inline-block">Output</h3>
					<input type="button" value="Abort" id="idAbort" class="btn btn-default" style="margin: -7px 0 0 40px; display: none" />

				</div>

				<div class="panel-body" style="height: 100%">

					<div id="idOutputView" class="form-group">

						<div class="form-group" style="height: calc(100% - 60px); overflow: auto">
							<code id="idOutput" readonly style="font-family: monospace; font-size: 14px; width: 100%; resize: none"></code>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<script type="text/javascript">

		var _viewData = null;
		var _sqliteFilePath = null;
		var _outputFolder = null;

		var _processing = false;

		var _mdbFileName = "input.accdb";
		var _jsonFileName = "parameters.json";
		var _csvFileName = "";

		$(document).ready(function ()
		{
			$("#idNegative option").dblclick(OnNegativeDoubleClick);
			$("#idPositive option").dblclick(OnPositiveDoubleClick);

			/////////////////////////////////////////////////////////////////////////////

			var btnNegativeToPositive = $("#idNegativeToPositive");
			btnNegativeToPositive.click(MoveNegativeToPositive);

			var btnPositiveToNegative = $("#idPositiveToNegative");
			btnPositiveToNegative.click(MovePositiveToNegative);

			var btnNegativeToExcluded = $("#idNegativeToExcluded");
			btnNegativeToExcluded.click(MoveNegativeToExcluded);

			var btnExcludedToNegative = $("#idExcludedToNegative");
			btnExcludedToNegative.click(MoveExcludedToNegative);

			var btnPositiveToExcluded = $("#idPositiveToExcluded");
			btnPositiveToExcluded.click(MovePositiveToExcluded);

			var btnExcludedToPositive = $("#idExcludedToPositive");
			btnExcludedToPositive.click(MoveExcludedToPositive);

			/////////////////////////////////////////////////////////////////////////////

			$("#idDivideCategories").change(OnDivideCategoriesChange);
			$("#idScoreAll").change(OnDivideCategoriesChange);
			$("#idScoreUncategorized").change(OnDivideCategoriesChange);
			$("#idFolder").change(SetViewData);
			$("#idLeaveIntermediateFiles").change(SetViewData);

			$("#idValidationPercentage").change(OnValidationPercentageChange);
			$("#idDerivationPercentage").change(OnDerivationPercentageChange);

			$("#idAbort").click(AbortML);

			/////////////////////////////////////////////////////////////////////////////

			InitView();
		});

		function InitView()
		{
			try
			{
				var json = Host.GetViewData();

				/////////////////////////////////////////////////////////////////////////////

				if (json)
				{
					_viewData = $.parseJSON(json);

					$("#idDivideCategories").prop("checked", _viewData.idDivideCategories);
					$("#idScoreAll").prop("checked", _viewData.idScoreAll);
					$("#idScoreUncategorized").prop("checked", _viewData.idScoreUncategorized);
					$("#idLeaveIntermediateFiles").prop("checked", _viewData.idLeaveIntermediateFiles);

					if (!_viewData.negativeColor)
						_viewData.negativeColor = "#ff0000";

					if (!_viewData.positiveColor)
						_viewData.positiveColor = "#00ff00";

					if (!_viewData.excludedColor)
						_viewData.excludedColor = "#ffff00";

					$("#idNegativeColor").val(_viewData.negativeColor);
					$("#idPositiveColor").val(_viewData.positiveColor);
					$("#idExcludedColor").val(_viewData.excludedColor);
				}
				else
				{
					_viewData = new Object();
					_viewData.idDivideCategories = false;
					_viewData.idScoreAll = false;
					_viewData.idScoreUncategorized = false;
					_viewData.idValidationPercentage = 10;
					_viewData.folder = null;
					_viewData.idLeaveIntermediateFiles = false;
					_viewData.negativeColor = "#ff0000";
					_viewData.positiveColor = "#00ff00";
					_viewData.excludedColor = "#ffff00";
				}

				/////////////////////////////////////////////////////////////////////////////

				if (!_viewData.positiveCategories)
					_viewData.positiveCategories = new Array();

				if (!_viewData.excludedCategories)
					_viewData.excludedCategories = new Array();

				if (!_viewData.positiveDocumentsCount)
					_viewData.positiveDocumentsCount = -1;

				if (!_viewData.negativeDocumentsCount)
					_viewData.negativeDocumentsCount = -1;

				if (!_viewData.excludedDocumentsCount)
					_viewData.excludedDocumentsCount = -1;

				/////////////////////////////////////////////////////////////////////////////

				UpdateDocumentsNumber();

				UpdateDivideCategoriesEnabledState();

				UpdatePercentages();

				UpdateFolder();

				/////////////////////////////////////////////////////////////////////////////

				RefreshCategoryLists();
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function RefreshCategoryLists()
		{
			var json = Host.ExecuteSQL("SELECT ID, Category FROM Categories ORDER BY Category");
			if (json)
			{
				var categories = $.parseJSON(json);

				var positiveList = $("#idPositive");
				var negativeList = $("#idNegative");
				var excludedList = $("#idExcluded");

				positiveList.empty();
				negativeList.empty();
				excludedList.empty();

				/////////////////////////////////////////////////////////////////////////////

				var cats = new Array();

				for (var i = 0; i < Object.keys(categories).length; i++)
				{
					var id = categories[i].ID;
					var category = categories[i].Category;

					cats[0] = id;
					var documentsCount = GetDocumentsCountInCategoryList(cats);
					category = category + " (" + documentsCount + ")";

					/////////////////////////////////////////////////////////////////////////////

					if (ListContainsValue(_viewData.positiveCategories, id))
					{
						positiveList.append($("<option></option>")
							.attr("value", id.toString())
							.text(category));
					}
					else if (ListContainsValue(_viewData.excludedCategories, id))
					{
						excludedList.append($("<option></option>")
							.attr("value", id.toString())
							.text(category));
					}
					else
					{
						negativeList.append($("<option></option>")
							.attr("value", id.toString())
							.text(category));
					}
				}
			}
		}

		function OnCmd(cmd)
		{
			try
			{
				if (_processing)
					return;

				if (cmd === "Show Options")
				{
					$("#idProgressView").hide();
					$("#idOptionsView").show();

					ShowScrollbar(true);
				}
				else if (cmd === "Show Log")
				{
					$("#idProgressView").show();
					$("#idOptionsView").hide();

					ShowScrollbar(false);
				}
				else if (cmd === "Review")
				{
					if (!_outputFolder)
						return;

					/////////////////////////////////////////////////////////////////////////////

					var parameters = {
						PathToCSV: _outputFolder + "\\" + _csvFileName,
						PositiveCategories: _viewData.positiveCategories
					}

					parameters = JSON.stringify(parameters);

					Host.OpenView("ReviewML", true, parameters);
				}
				else if (cmd === "Recalculate")
				{
					RecalculateCategoriesDocumentsCount();
				}
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function OnBeforeClose()
		{
			//alert("Goodbye, C#");
		}

		function SetViewData()
		{
			try
			{
				_viewData.idDivideCategories = $("#idDivideCategories").prop("checked");
				_viewData.idScoreAll = $("#idScoreAll").prop("checked");
				_viewData.idScoreUncategorized = $("#idScoreUncategorized").prop("checked");
				_viewData.folder = $("#idFolder").val();
				_viewData.idLeaveIntermediateFiles = $("#idLeaveIntermediateFiles").prop("checked");
				_viewData.negativeColor = $("#idNegativeColor").val();
				_viewData.positiveColor = $("#idPositiveColor").val();
				_viewData.excludedColor = $("#idExcludedColor").val();

				/////////////////////////////////////////////////////////////////////////////

				var data = JSON.stringify(_viewData);
				if (!Host.SetViewData(data))
					Host.OnException("Failed to save data");
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function OnSelectColor(event)
		{
			try
			{
				event.preventDefault();

				var input = $(event.target);

				var value = input.val();
				value = Host.PickColor(value);
				if (value)
				{
					input.val(value);
					SetViewData();
				}

				return false;
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function OnNegativeDoubleClick()
		{
			MoveNegativeToPositive();
		}

		function OnPositiveDoubleClick()
		{
			MovePositiveToNegative();
		}

		function OnDivideCategoriesChange()
		{
			UpdateDivideCategoriesEnabledState();

			SetViewData();
		}

		function UpdateDivideCategoriesEnabledState()
		{
			if ($("#idDivideCategories").is(":checked") === true)
			{
				$("#idDerivationPercentage").removeAttr("disabled");
				$("#idValidationPercentage").removeAttr("disabled");
			}
			else
			{
				$("#idDerivationPercentage").attr("disabled", "disabled");
				$("#idValidationPercentage").attr("disabled", "disabled");
			}
		}

		function MoveCategory(sourceId, targetId, sourceList, targetList)
		{
			var source = $("#" + sourceId);
			var target = $("#" + targetId);

			var selected = source.find("option:selected");
			if (selected.length === 1)
			{
				selected = $(selected);
				var value = selected.attr("value");
				var index = source.prop("selectedIndex");

				target.append($("<option></option>")
					.attr("value", value)
					.attr("selected", "true")
					.text(selected.text()));
					//.dblclick(OnNegativeDoubleClick));

				$(selected).remove();

				/////////////////////////////////////////////////////////////////////////////

				var optionsList = source.find("option");
				if (optionsList.length > 0)
				{
					if (index >= optionsList.length)
						index = optionsList.length - 1;

					selected = optionsList[index];
					$(selected).attr("selected", "true");
				}

				/////////////////////////////////////////////////////////////////////////////

				if (sourceList)
					RemoveFromList(sourceList, value);

				if (targetList)
					AddToList(targetList, value);

				/////////////////////////////////////////////////////////////////////////////

				var count = GetDocumentsCountInCategory(value);
				return count;
			}

			return 0;
		}

		function MovePositiveToNegative()
		{
			try
			{
				var count = MoveCategory("idPositive", "idNegative", _viewData.positiveCategories, null);
				if (count > 0)
				{
					_viewData.positiveDocumentsCount -= count;
					_viewData.negativeDocumentsCount += count;

					UpdateDocumentsNumber();
					SetViewData();
				}
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function MoveNegativeToPositive()
		{
			try
			{
				var count = MoveCategory("idNegative", "idPositive", null, _viewData.positiveCategories);
				if (count > 0)
				{
					_viewData.negativeDocumentsCount -= count;
					_viewData.positiveDocumentsCount += count;

					UpdateDocumentsNumber();
					SetViewData();
				}
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function MoveNegativeToExcluded()
		{
			try
			{
				var count = MoveCategory("idNegative", "idExcluded", null, _viewData.excludedCategories);
				if (count > 0)
				{
					_viewData.negativeDocumentsCount -= count;
					_viewData.excludedDocumentsCount += count;

					UpdateDocumentsNumber();
					SetViewData();
				}
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function MoveExcludedToNegative()
		{
			try
			{
				var count = MoveCategory("idExcluded", "idNegative", _viewData.excludedCategories, null);
				if (count > 0)
				{
					_viewData.excludedDocumentsCount -= count;
					_viewData.negativeDocumentsCount += count;

					UpdateDocumentsNumber();
					SetViewData();
				}
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function MovePositiveToExcluded()
		{
			try
			{
				var count = MoveCategory("idPositive", "idExcluded", _viewData.positiveCategories, _viewData.excludedCategories);
				if (count > 0)
				{
					_viewData.positiveDocumentsCount -= count;
					_viewData.excludedDocumentsCount += count;

					UpdateDocumentsNumber();
					SetViewData();
				}
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function MoveExcludedToPositive()
		{
			try
			{
				var count = MoveCategory("idExcluded", "idPositive", _viewData.excludedCategories, _viewData.positiveCategories);
				if (count > 0)
				{
					_viewData.excludedDocumentsCount -= count;
					_viewData.positiveDocumentsCount += count;

					UpdateDocumentsNumber();
					SetViewData();
				}
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function ListContainsValue(list, value)
		{
			if (list)
			{
				for (var i = 0; i < list.length; i++)
				{
					var id = list[i];

					if (id === value)
					{
						return true;
					}
				}
			}
			else
				throw "Error";

			return false;
		}

		function AddToList(targetList, value)
		{
			if (targetList)
				targetList.push(parseInt(value));
			else
				throw "Error";
		}

		function RemoveFromList(sourceList, value)
		{
			if (sourceList)
			{
				value = parseInt(value);

				for (var i = 0; i < sourceList.length; i++)
				{
					var id = sourceList[i];
					if (id === value)
					{
						sourceList.splice(i, 1);
						break;
					}
				}
			}
			else
				throw "Error";
		}

		function UpdatePercentages()
		{
			if (!_viewData.idValidationPercentage && _viewData.idValidationPercentage !== 0)
				_viewData.idValidationPercentage = 10;

			var idDerivationPercentage = 100 - _viewData.idValidationPercentage;

			var selected = $("#idValidationPercentage option[value=" + _viewData.idValidationPercentage + "]");
			selected.attr("selected", "true");

			selected = $("#idDerivationPercentage option[value=" + idDerivationPercentage + "]");
			selected.attr("selected", "true");
		}

		function UpdateFolder()
		{
			if (!_viewData.folder)
				_viewData.folder = Host.GetViewFolderPath();

			if (_viewData.folder)
			{
				if (Host.IsNetworkPath(_viewData.folder))
					ShowNetworkPathWarning();
			}

			$("#idFolder").val(_viewData.folder);
		}

		function OnValidationPercentageChange()
		{
			var selected = $("#idValidationPercentage option:selected");
			var value = parseInt(selected.attr("value"));

			_viewData.idValidationPercentage = value;

			value = 100 - value;

			selected = $("#idDerivationPercentage option[value=" + value + "]");
			selected.attr("selected", "true");

			SetViewData();
		}

		function OnDerivationPercentageChange()
		{
			var selected = $("#idDerivationPercentage option:selected");
			var value = parseInt(selected.attr("value"));

			value = 100 - value;

			_viewData.idValidationPercentage = value;

			selected = $("#idValidationPercentage option[value=" + value + "]");
			selected.attr("selected", "true");

			SetViewData();
		}

		function SelectFolder()
		{
			try
			{
				var folder = Host.SelectFolderDialog(_viewData.folder);
				if (folder)
				{
					_viewData.folder = folder;

					UpdateFolder();

					SetViewData();
				}
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function StartML()
		{
			try
			{
				if (!_viewData.folder)
				{
					Host.ShowInfoMessage("Please specify output folder");
					return;
				}

				_outputFolder = Host.CreateOutputFolder(_viewData.folder);
				if (!_outputFolder)
					return;

				var otherTables =
					[
						/*"Categories"*/
					];

				var mdbFilePath = _outputFolder + "\\" + _mdbFileName;

				var categorized;

				if (_viewData.idDivideCategories)
				{
					categorized = 0;
					_csvFileName = "classified_output.csv";
				}
				else if (_viewData.idScoreAll)
				{
					categorized = 1;
					_csvFileName = "classified_output_all.csv";
				}
				else
				{
					categorized = 2;
					_csvFileName = "classified_output.csv";
				}

				var result = Host.CopyDocumentsTable(mdbFilePath, categorized, otherTables);
				if (!result)
					return;

				var jsonFilePath = _outputFolder + "\\" + _jsonFileName;

				if (!WriteParameters(jsonFilePath))
					return;

				if (!Host.StartML(_outputFolder, _mdbFileName, _jsonFileName, _csvFileName, _viewData.idLeaveIntermediateFiles, "OnStateChange"))
					return;

				_processing = true;

				$("#idOutput").empty();

				$("#idOptionsView").hide();
				$("#idProgressView").show();

				ShowScrollbar(false);

				$("#idLoading").css("display", "inline-block");
				$("#idAbort").show();
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function AbortML()
		{
			try
			{
				Host.KillExecutable();

				Host.DeleteOutputFolder(_outputFolder);

				$("input, select, button").prop("disabled", false);
				$("#idLoading").hide();
				$("#idAbort").hide();

				Host.ShowInfoMessage("Machine learning aborted");

				_processing = false;

				///////////////////////////////////////////////////////////////////////////

				Host.SetViewArgument(null, null);
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function OnStateChange(state, content)
		{
			try
			{
				if (state === 0)
				{
					$("input, select, button").prop("disabled", false);
					$("#idLoading").hide();
					$("#idAbort").hide();

					if (content === "0")
						Host.ShowInfoMessage("Machine learning finished successfully");
					else
						Host.OnException("Machine learning failed with code: " + content);

					_processing = false;

					///////////////////////////////////////////////////////////////////////////

					var parameters = {
						PathToCSV: _outputFolder + "\\" + _csvFileName,
						PositiveCategories: _viewData.positiveCategories
					}

					parameters = JSON.stringify(parameters);

					Host.SetViewArgument(parameters, "RegScoreCalc.ReviewMLParameters");

					return;
				}

				var output = $("#idOutput");
				output.append(content);

				output = output.parent();
				output.scrollTop(output[0].scrollHeight);
			}
			catch (e)
			{
				Host.OnException(e.message);
			}
		}

		function WriteParameters(filePath)
		{
			var params =
				{
					divideCategories: _viewData.idDivideCategories,
					scoreAll: _viewData.idScoreAll,
					scoreUncategorized: _viewData.idScoreUncategorized,
					validationPercentage: _viewData.idValidationPercentage,
					positiveCategories: _viewData.positiveCategories,
					excludedCategories: _viewData.excludedCategories
				};

			var json = JSON.stringify(params);

			return Host.WriteTextFile(filePath, json);
		}

		function GetTotalCategorizedDocumentsCount()
		{
			return Host.ExecuteScalarSQL("SELECT COUNT(*) FROM Documents WHERE (Category IS NOT NULL)");
		}

		function RecalculateCategoriesDocumentsCount()
		{
			RefreshCategoryLists();

			var positiveDocumentsCount = GetDocumentsCountInCategoryList(_viewData.positiveCategories);
			if (positiveDocumentsCount || positiveDocumentsCount === 0)
			{
				var excludedDocumentsCount = GetDocumentsCountInCategoryList(_viewData.excludedCategories);
				if (excludedDocumentsCount || excludedDocumentsCount === 0)
				{
					var totalCategorizedDocumentsCount = GetTotalCategorizedDocumentsCount();
					if (totalCategorizedDocumentsCount || totalCategorizedDocumentsCount === 0)
					{
						_viewData.positiveDocumentsCount = positiveDocumentsCount;
						_viewData.excludedDocumentsCount = excludedDocumentsCount;
						_viewData.negativeDocumentsCount = totalCategorizedDocumentsCount - (positiveDocumentsCount + excludedDocumentsCount);
					}
				}
				else
					throw "Error";
			}
			else
				throw "Error";

			UpdateDocumentsNumber();

			SetViewData();
		}

		function GetDocumentsCountInCategoryList(list)
		{
			if (list.length === 0)
				return 0;

			var sql = "SELECT COUNT(*) FROM Documents WHERE ";
			var where = "";

			for (var i = 0; i < list.length; i++)
			{
				if (where.length > 0)
					where += " OR ";

				where += "(Category = " + list[i] + ") ";
			}

			var documentsCount = Host.ExecuteScalarSQL(sql + where);

			return documentsCount;
		}

		function GetDocumentsCountInCategory(categoryID)
		{
			categoryID = parseInt(categoryID);

			var result = Host.ExecuteScalarSQL("SELECT COUNT(*) FROM Documents WHERE Category = " + categoryID);
			if (result || result === 0)
				return result;

			throw "Error";
		}

		function UpdateDocumentsNumber()
		{
			if (_viewData.positiveDocumentsCount === -1 || _viewData.negativeDocumentsCount === -1 || _viewData.excludedDocumentsCount === -1)
			{
				var totalCategorizedDocumentsCount = GetTotalCategorizedDocumentsCount();
				if (totalCategorizedDocumentsCount)
				{
					_viewData.positiveDocumentsCount = 0;
					_viewData.excludedDocumentsCount = 0;
					_viewData.negativeDocumentsCount = totalCategorizedDocumentsCount;
				}
			}

			$("#idNegativeTitle").text("Negative Categories (" + _viewData.negativeDocumentsCount.toString() + ")");
			$("#idPositiveTitle").text("Positive Categories (" + _viewData.positiveDocumentsCount.toString() + ")");
			$("#idExcludedTitle").text("Excluded Categories (" + _viewData.excludedDocumentsCount.toString() + ")");
		}

		function ShowScrollbar(show)
		{
			if (show)
			{
				$("html").css("overflow", "auto");
			}
			else
			{
				$("html").css("overflow", "hidden");
				$(document).scrollTop(0);
			}
		}

		function ShowNetworkPathWarning()
		{
			Host.ShowWarningMessage("Using network drive for Output folder is strongly not recommended");
		}

	</script>

</body>

</html>
